<nav>	<!--Contains logo, searchbar, profile icon, bookmarks-->
	<a href="/"><img src="/img/Logo.png"></a>
	<img src="/img/Bookmark.png">
	<input type="text" class="main-search" placeholder="Search"/>
</nav>