<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<nav>	<!--Contains logo, searchbar, profile icon, bookmarks-->
		<img src="/img/LogoFill.png">
		<img src="/img/Bookmark.png">
		<input type="text" class="main-search"/>
	</nav>
	<form method="post" action="/inserted">
		<label for="hexColor">Hex Color</label>
		<input type="text" name="hexColor">

		<label for="recipeName">Recipe Name</label>
		<input type="text" name="recipeName">

		<label for="recipeSource">Recipe Source</label>
		<input type="text" name="recipeSource">

		<input type="submit" value="Submit">
	</form>
</body>
</html>