<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<nav>	<!--Contains logo, searchbar, profile icon, bookmarks-->
		<img src="/img/LogoFill.png">
		<img src="/img/Bookmark.png">
		<input type="text" class="main-search"/>
	</nav>
	<form method="post" action="/inserted">
		<input type="text" name="test">
		<input type="submit" value="Submit">
	</form>
</body>
</html>