<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/img/Logo.png" rel="icon"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.17/angular2.js"></script>
	<script src="/js/full-screen.js" type="text/javascript"></script>
</head>

<body>
	<nav>	<!--Contains logo, searchbar, profile icon, bookmarks-->
		<img src="/img/LogoFill.png">
		<img src="/img/Bookmark.png">
		<input type="text" class="main-search"/>
	</nav>

	<div class="upper">	<!--Contains icon, title, rating, comments icon, prompt to serve #, dropdown serve #-->
		<img src="/img/Pie.png">
		<h1>Chicken Pot Pie</h1>
		<ul class="ratings-and-comment">
			<li><img src="/img/StarFull.png"</li>
			<li><img src="/img/StarFull.png"</li>
			<li><img src="/img/StarFull.png"</li>
			<li><img src="/img/StarFull.png"</li>
			<li><img src="/img/StarHalf.png"</li>
			<li><img src="/img/Comment.png"</li>
		</ul>
		<div class="how-many-serve-div">
			<h3 class="how-many-serve-h3">How many people do you want to serve?</h3>
			<select class="how-many-serve-select">
				<% for(var i=0; i<=12; i++) { %>
					<option><%= i %></option>
				<% } %>
			</select>
		</div>
	</div>

	<p id="full-screen">Full Screen</p>
	<div class="gantt">			<!--Contains ingredients and Gantt chart-->
		<div class="ingredients">		<!--Ingredients list-->
			<h4>Ingredients</h4>
			<ul>	<!--Will eventually be node/angular for/repeat-->
				<li><strong>2</strong> chicken breasts</li>
				<li><strong>1/2 cup</strong> extra virgin olive oil</li>
				<li><strong>1 pinch</strong> salt</li>
				<li><strong>1 dash</strong> pepper</li>
				<li><strong>1/2</strong> yellow onion</li>
				<li><strong>1/2 cup</strong> sliced carrots</li>
			</ul>
		</div>
		<div class="chart">		<!--Gantt chart-->
			<div class="start-cooking-at">	<!--Starting cooking at...-->
				<h6>Start cooking at <span class="underline">5:25pm</span>
				<button>Pause</button>
			</div>
			<div>	<!--Timeline-->
			</div>
		</div>
	</div>
	<step></step>

	<footer>
		<p>Camden Hill 2016</p>
	</footer>

</body>
</html>