.insert-wrapper {
	width: 80%;
	display: block;
	margin: 100px auto;
}

.insert-title {
	width: 100%;
	border-bottom: solid 1px #222;
}

form {
	margin-top: 50px;
	display: inline-block;
}

#recipe-information {
	width: 250px;
}

#recipe-ingredients {
	width: 35%;
	float: left;
}

#recipe-steps {
	width: 55%;
	float: right;
}

#recipe-ingredients input, #recipe-steps input {
	margin-bottom: 5px;
}

label {
	display: inline-block;
}

#recipe-ingredients label:nth-child(even), #recipe-ingredients input:nth-child(even) {
	width: 30%;
}

#recipe-ingredients label:nth-child(odd), #recipe-ingredients input:nth-child(odd) {
	width: 65%;
	margin-left: 5px;
}

#recipe-steps label:nth-child(3n+0), #recipe-steps input:nth-child(3n+0) {
	width: 60%;
}

#recipe-steps label:nth-child(3n+1), #recipe-steps input:nth-child(3n+1) {
	width: 15%;
	margin-left: 5px;
}

#recipe-steps label:nth-child(3n+2), #recipe-steps input:nth-child(3n+2) {
	width: 15%;
	margin-left: 5px;
}


label, input, textarea {
	width: 100%;
	box-sizing: border-box;
}

textarea {
	height: 100px;
}

input {
	margin-bottom: 30px;
}

.pw-and-submit {
	display: inline-block;
	float: right;
}

.pw-and-submit * {
	float: left;
}

.pw-and-submit input {
	width: 250px;
}

.pw-and-submit button {
	margin-left: 10px;
}