nav img[src="/img/Bookmark.png"] {
	float: right;
	margin-top: 12px;
	margin-right: 15px;
}

nav h2 {
	display: inline-block;
	position: absolute;
	left: 37%;
	left: calc(50% - 135px);
	margin-top: 15px;
}