html, body {
	background: white;
}

nav {
	border: none;
}

#categories-and-recipes {
	width: 100%;
}

#top-scroll {
	width: 100%;
	padding-top: 40px;
	border-bottom: solid 1px #222;
}

#top-scroll * {
	height: 100%;
	box-sizing: border-box;
}

#left, #right, #categories {
	float: left;
}

#left, #right {
	width: 10%;
}

#left img, #right img {
	width: auto;
	height: 20px;
	display: block;
	margin: auto;
}

#categories {
	width: 80%;
}

#category {
	width: 20%;
	float: left;
}

#category img, #category h3 {
	display: block;
	margin: auto;
}

#category img {
	width: auto;
	height: 50px;
}

#category h3 {
	width: 70%;
	text-align: center;
}