html, body {
	background: white;
}

nav {
	border: none;
}

#categories-and-recipes {
	width: 100%;
}

#top-scroll {
	width: 100%;
	padding-top: 40px;
}

#top-scroll * {
	box-sizing: border-box;
}

#left, #right, #categories {
	float: left;
}

#left, #right {
	width: 10%;
}

#left img, #right img {
	width: auto;
	height: 20px;
	display: block;
	margin: auto;
}

#categories {
	width: 80%;
}

.category {
	width: 20%;
	float: left;
}

.category img, .category h3 {
	display: block;
	margin: auto;
}

.category img {
	width: auto;
	height: 50px;
}

.category h3 {
	width: 70%;
	height: 30px;
	margin-top: 15px;
	text-align: center;
}

img[src="/img/Triangle.png"] {
	width: 10px;
	height: auto;
	padding-top: 30px;
	clear: both;
	float: none;
	display: block;
	margin: auto;
	opacity: 0;
}

.category:first-of-type img[src="/img/Triangle.png"] {
	opacity: 1;
}

/* GALLERY */
#gallery-and-aside {
	clear: both;
	float: none;
	padding-top: 40px;
	width: 100%;
	border-top: solid 1px black;
}

#gallery {
	float: left;
	width: 50%;
	margin-left: 10%;
}

.gallery-item {
	width: 100%;
	clear: both;
}

.gallery-item img, .gallery-item-info {
	width: 50%;
	float: left;
}

.gallery-item img {
	height: auto;
}

.gallery-item-info {
	padding: 20px;
	box-sizing: border-box;
}

.gallery-item:nth-child(even) img {
	float: right;
}

aside {
	width: 20%;
	margin-left: 10%;
	float: left;
}