h1 {
	text-align: center;
}

img[src="/img/BookmarkOutlines.png"], img[src="/img/BookmarkOutlinesFill.png"] {
}

li.ingredient {
	/*border-bottom: solid 1px black;*/
	padding: 15px 0 10px;
	font-size: .8em;
	text-transform: capitalize;
	color: #222;	/* This will be one of the factors in custom colorHex css files */
}

li.ingredient:last-of-type {
	border: none;
}

p.step {
	font-size: .8em;
	padding: 5px;
	margin: 5px 0;
	border: solid 1px black;
	border-radius: 7px;
	display: inline-block;
	max-width: 300px;
	clear: both;
	float: left;
	background: white;
}

p.source {
	position: absolute;
	bottom: 0;
	font-size: .8em;
	font-style: italic;
	color: #bbb;
}

span.step-duration {
	font-size: .8em;
	color: #999;
	padding-top: 5px;
}

div.written-recipe {
	width: 500px;
	margin-top: 50px;
	padding-left: 20px;
}

div.written-recipe p {
	padding: 20px 0;
}

p#full-screen {
	display: inline-block;
	text-decoration: underline;
}

p#full-screen:hover {
	cursor: pointer;
}

div.start-cooking-at h6 {
	padding-top: 12px;
	padding-left: 10px;
	display: inline-block;
}

div.start-cooking-at button {
	float: right;
	margin-right: 10px;
	margin-top: 7px;
}

div.start-cooking-at {
	display: none;
}

div.ingredients h4 {
	padding-bottom: 10px;
	border-bottom: solid 1px #222;	/* This will be one of the factors in custom colorHex css files */
	color: #222;	/* This will be one of the factors in custom colorHex css files */
}

.how-many-serve * {
	float: left;
	display: block;
	margin: auto;
}

.how-many-serve select {
	margin: -5px 0 0 10px;
}

div.gantt {
	width: 1000px;
	height: 500px;
	border: solid 2px black;
	display: block;
	margin: auto;
	background: white;
	overflow: scroll;
	position: relative;
	box-sizing: border-box;
}

div.ingredients {
	width: 240px;
	height: 100%;
	background: #ffffff;
	/*background: #e27191;*/
	border-right: solid 2px black;
	box-sizing: border-box;
	float: left;
	padding: 20px;
	overflow: scroll;
}

div.chart {
	width: 756px;
	height: 100%;
	box-sizing: border-box;
	float: left;
	padding-left: 5px;
	/*background: url("/img/Thai_Broccoli_Coconut_Soup.jpg");*/
	/*background-size: cover;*/
	background: white;
	overflow: scroll;
}

div.start-cooking-at {
	width: 100%;
	height: 40px;
	background: #e0e0e0;
	border-bottom: solid 1px black;
	box-sizing: border-box;
}

div.intervals {
	position: absolute;
	margin: 0;
	background: purple;
}

div.interval {
	 width: 100px;
	 height: inherit;
	 border-right: solid 1px #c0c0c0;
	 margin-left: 0;
	 background: white;
	 box-sizing: border-box;
	 font-size: .7em;
	 color: #c0c0c0;
}

div.lightbox {
	display: none;
	background: rgba(0, 0, 0, .8);
	position: absolute;
	z-index: 10001;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

p.lightbox-text {
	padding: 10px;
	background: white;
	border-radius: 7px;
	display: block;
	width: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -50px;
	text-align: center;
}

div.upper {
	width: 800px;
	height: 150px;
	display: block;
	margin: 50px auto 0;
}

div.upper h1 {
	margin-top: 20px;
}

img[src="/img/Pie.png"] {
	width: 40px;
	height: auto;
}

div.stars-and-comment {
	height: 40px;
	width: 205px;
	display: block;
	margin: auto;
}

p.rating-bar {
	background: #ffffff;
	/*background: #e27191;*/
	height: 25px;
	width: 149px;	/* represents 4.5 starts; 29px per star */
	margin-top: 3px;
	position: absolute;
}

img[src="/img/Stars.png"] {
	position: absolute;
	height: 30px;
	width: auto;
}

img[src="/img/Comment.png"] {
	margin-top: 5px;
	float: right;
	height: 20px;
}