<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
ERROR 404
</body>
</html> 