<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/css/index.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<div class="wrapper">	<!-- set width=1000px -->
		<h1>The New Cookbook</h1>
		<div class="recipe-gallery">
			<% recipes.forEach(function(recipe) { %>
				<%= recipe.recipeName %>
			<% }); %>
		</div>
	</div>
</body>
</html>