<!DOCTYPE html>
<html>
<head>
	<title>The New Cookbook</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/css/nav.css" rel="stylesheet" type="text/css"/>
	<link href="/css/insert.css" rel="stylesheet" type="text/css"/>

	<link href="/img/Favicon.png" rel="icon"/>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>

<body>
	<% include ../partials/nav %>
	<div class="insert-wrapper">
		<div class="insert-title">
		<h3><%= recipeName %></h3>
		</div>
		<form>
			<div id="recipe-ingredients">
				<h3>Ingredients</h3>
				<label><p>Quantity</p></label>
				<label><p>Item</p></label>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<a href="#" class="underline clear"><p>Add new ingredient</p></a>
			</div>
			<div id="recipe-steps">
				<h3>Steps</h3>
				<label><p>Step Text</p></label>
				<label><p>Step Start</p></label>
				<label><p>Step End</p></label>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<input type="text"/>
				<a href="#" class="underline clear"><p>Add new step</p></a>
			</div>
			<div class="pw-and-submit">
				<label><p>Auth</p></label>

				<button type="submit" class="dark">Submit</button>				
			</div>
			<input type="hidden" value="<%= recipeID %>"/>
		</form>
	</div>
	<% include ../partials/footer %>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-90784280-1', 'auto');
		ga('send', 'pageview');
	</script>

</body>
</html>