<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/css/nav.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<% include ../partials/nav %>
	<form method="post" action="/inserted-step">
		<label for="recipeID">recipeID</label>
		<input type="text" name="recipeID">

		<label for="stepText">stepText</label>
		<input type="text" name="stepText">

		<label for="stepStart">stepStart</label>
		<input type="text" name="stepStart">

		<label for="stepEnd">stepEnd</label>
		<input type="text" name="stepEnd">

		<input type="submit" value="Submit">
	</form>


	<form method="post" action="/inserted-ingredient" style="margin-top:50px">
		<label for="recipeID">recipeID</label>
		<input type="text" name="recipeID">

		<label for="quantity">quantity</label>
		<input type="text" name="quantity">

		<label for="item">item</label>
		<input type="text" name="item">

		<input type="submit" value="Submit">
	</form>
	<% include ../partials/footer %>
</body>
</html>