<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<% include ../partials/nav %>
	<form method="post" action="/inserted">
		<label for="recipeID">recipeID</label>
		<input type="text" name="recipeID">

		<label for="stepText">stepText</label>
		<input type="text" name="stepText">

		<label for="stepStart">stepStart</label>
		<input type="text" name="stepStart">

		<label for="stepEnd">stepEnd</label>
		<input type="text" name="stepEnd">

		<label for="stepDuration">stepDuration</label>
		<input type="text" name="stepDuration">


		<input type="submit" value="Submit">
	</form>


	<form method="post" action="/inserted" style="margin-top:50px">
		<label for="recipeID">recipeID</label>
		<input type="text" name="recipeID">

		<label for="stepText">stepText</label>
		<input type="text" name="stepText">

		<label for="stepStart">stepStart</label>
		<input type="text" name="stepStart">

		<label for="stepEnd">stepEnd</label>
		<input type="text" name="stepEnd">

		<label for="stepDuration">stepDuration</label>
		<input type="text" name="stepDuration">


		<input type="submit" value="Submit">
	</form>
</body>
</html>