<!DOCTYPE html>
<html>
<head>
	<title>The New Cookbook</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/css/nav.css" rel="stylesheet" type="text/css"/>
	<link href="/css/insert.css" rel="stylesheet" type="text/css"/>

	<link href="/img/Favicon.png" rel="icon"/>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>

<body>
	<% include ../partials/nav %>
	<div class="insert-wrapper">
		<div class="insert-title">
			<h3>Add a new recipe</h3>
		</div>
		<form>
			<div id="recipe-information">
				<h3>Information</h3>
				<label>Recipe Name</label>
				<input type="text" name="recipeName" id="recipeName" placeholder="Chicken Pot Pie"/>

				<label>Recipe Source</label>
				<input type="text" name="recipeSource" id="recipeSource" placeholder="https://www.pillsbury.com/recipes/classic-chicken-pot-pie/1401d418-ac0b-4b50-ad09-c6f1243fb992"/>

				<label>Recipe Image</label>
				<input type="text" name="recipeImg" id="recipeImg" placeholder="https://images-gmi-pmc.edge-generalmills.com/b5a2330a-b68e-45ac-b766-c6ad607e6150.jpg"/>
				
				<label>Recipe Description</label>
				<textarea name="description" id="description" row="10" wrap="soft" placeholder="This is the best fucking chicken pot pie."></textarea>
			</div>
			<div class="pw-and-submit">
				<label>Auth</label>
				<input type="text" name="auth" id="auth"/>

				<button type="submit">Submit</button>				
			</div>
		</form>
	</div>
	<% include ../partials/footer %>
</body>
</html>