<!DOCTYPE html>
<html>
<head>
	<title>Scrumptious</title>
	<link href="/css/parent.css" rel="stylesheet" type="text/css"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<% include ../partials/nav %>
	<h1 style="margin-top:100px">Successfully added a recipe.</h1>
</body>
</html>